# ~/.zsh_plugins.txt

zdharma/fast-syntax-highlighting
zsh-users/zsh-completions
zsh-users/zsh-history-substring-search

robbyrussell/oh-my-zsh path:lib
robbyrussell/oh-my-zsh path:themes/crunch.zsh-theme
